.edit-user-profile {
  width: 100%;
  margin: 0 auto;

  &__main {
    margin: 1.5rem 0 0;

    & > details {
      margin-bottom: 0.75rem;
    }
  }

  &__search {
    padding-right: 0.7rem;
    margin: 1.5rem 0 1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__float-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (min-width: $sm) {
  .edit-user-profile {
    &__float-button {
      width: 2.5rem;
      height: 2.5rem;
      right: calc((100% - $max-width - $horizontal-padding) / 2);
    }
  }
}
